<div class="instructions">
    <div class="container">
        <h1 class="lead">PlayList </h1>
        <div id="logo">
            <i class="material-icons" size="40">
                    play_arrow  fast_forward  pause  fast_rewind  stop
                    <!-- fiber_manual_record -->
            </i>
            <p>play &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; goals &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; relax &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; learn &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; vacation</p> 
            
        </div>

        <!-- <ng-md-icon icon="play arrow" style="fill: rgb(10, 10, 10)" size="40"></ng-md-icon> -->

    </div>
</div>