<div class="block">

  <nav class="nav">
    <div class="nav-left">
      <a href="#/lists" class="nav-item">My Lists</a>
        
      <a href="#/user" class="nav-item">Browse</a>

      <!-- <li><a href="#/info">Info Page</a></li> -->
      <a href="#/create" class="nav-item">Create List</a>

   
    </div>

    <!-- <div class="nav-right">
      <button class="button is-light is small nav-item" ng-click="lc.userService.logout()">Log Out</button>
    </div> -->

  </nav>

</div>
<!-- end main block div -->