<div ng-include="'views/partials/nav.html'" ng-init=uc.getAllLists()></div>

<h1 id="welcome" class="title">Create New List</h1>

<div class="block box" id="formLayout">
    <form ng-submit="cc.newList()">
        <div class="field">
            <div ng-hide='cc.activeList'>

                <label class="label is-centered">List Title</label>
                <input type="text" placeholder="List Name" ng-model="cc.newList.listNameIn">
                <button ng-click='cc.toggleTesty()'>Enter</button>

            </div>
        </div>
        <div class="field">
            <div ng-show='cc.activeList'>

                <label class="label">List Item:</label>
                <input type="text" placeholder="Subject" ng-model="cc.newList.itemIn">
                <input class="btn btn-default" type="button" name="Add Items" value="Add Item" ng-click="cc.addItems()">
                <h1>Items:</h1>
                <ul ng-repeat="anItem in cc.itemsArray">
                    <li>{{anItem.item}}</li>
                </ul>
                <button ng-click='cc.toggleTesty()'>Submit</button>
                
            </div>
        </div>


       
        <!-- <input class="btn btn-default" type="submit" name="submit" value="Add List" /> -->



    </form>
</div>