<div ng-include="'views/partials/nav.html'" ng-init=uc.getAllLists()></div>

<h1 id="welcome" class="title">Create New List</h1>
<div class="nav-right">
        <button class="button is-light is small nav-item" ng-click="cc.userService.logout()">Log Out</button>
    </div>
<div class="block" id="formLayout">
    <form>
        <!--ng-submit="cc.submitNewList()" -->
        <div class="box field">
            <!-- <div ng-hide='cc.activeList'> -->

            <label class="label is-centered">List Title</label>
            <input type="text" placeholder="List Name" ng-model="cc.newList.listNameIn">
            <!-- <button ng-click='cc.toggleTesty()'>Enter</button> -->
            <br>
            <br>
            <div class="level-item">
                <b>{{cc.newList.listNameIn}}</b>
            </div>
            <!-- </div> -->
        </div>
        <div class="box field">
            <!-- <div ng-show='cc.activeList'> -->


            <label class="label">List Item:</label>
            <input type="text" placeholder="Enter List Item" ng-model="cc.newList.itemIn">
            <br>
            <input class="button" type="submit" name="Add Items" value="Add Item" ng-click="cc.addItems()">
            <br>
            <br>
            <div >
                <ul class="level-item addItems" ng-repeat="anItem in cc.itemsArray">
                    <li> <input type="checkbox"> {{anItem.item}} </li> 
                </ul>


            </div>
        </div>
        <br>
        <div class="level-right">
            <button class="button is-dark" ng-click="cc.submitNewList()">Submit List</button>
        </div>

    </form>
</div>

