<div ng-include="'views/partials/nav.html'" ng-init="lc.getLists()"></div>

<div class="container">
  <section id="getLists">

    <h1>LIST PAGE</h1>
    <div class="listBox" ng-repeat="list in lc.listsToDisplay">
      <b>{{list.name}}</b>
      <div ng-repeat="items in list.items">
          {{items}}
        <input type="checkbox" ng-model="list.checkboxs[ $index ]" ng-click="lc.completeTask(items, list.checkboxs[ $index ])" ng-checked="list.checkboxs[ $index ]"> 
        <!-- {{object}} -->
      </div>

    </div>
  </section>
</div>

<!-- 'item.complete' -->