<div ng-include="'views/partials/nav.html'" ng-init="lc.getMyLists()"></div>

<h1 id="welcome" class="title">My Lists</h1>
<hr />
  <!-- Get My lists        -->
<div class="block" id="getMyLists">
    <div class="columns box">        
  <div class="listBox column" ng-repeat="list in lc.myListsNames">
   
    <b>{{list.listname}}</b>
          <!-- <button ng-click="uc.getThisListItems(list.listname)">Get Items </button> -->

    <div ng-click="uc.getThisListItems(list.listname)" ng-repeat="items in lc.myListsNames" ng-if="list.list_id==item.list_id">
      <!-- {{items}} -->
      <!-- <button ng-model="list.checkbox[ $index ]" ng-click="lc.completeTask(items, list.checkbox[ $index ])" ng-checked="list.checkbox[ $index ]">
          <i class="material-icons">fiber_manual_record</i>
      </button> -->
      {{items.itemname}}
      <input type="checkbox" ng-model="list.checkbox[ $index ]" ng-click="lc.completeTask(items.itemname, list.checkbox[ $index ])" ng-checked="list.checkbox[ $index ]">
      <!-- {{object}} -->
    </div>

  </div>
</div>

<!-- 'item.complete' -->