<!-- uc.getAllLists()  return all lists and their items-->
<div ng-include="'views/partials/nav.html'" ng-init=uc.getAllListsNames()></div>

<h1 id="welcome" class="title">Welcome {{uc.userObject.userName}}!</h1>
<h1 id="welcome" class="title">Find Your Adventure</h1>

<!-- Get all lists -->
<div class="block">
  <div class="columns">

<div class="column is-multiline" id="getAllLists" ng-repeat="list in uc.allListsNames">
  <header class="card-header">

    <span class="card-header-title">
      <h1 id="titleList"><b>{{list.listname}}</b></h1>
      <button class="button is-white" ng-click="uc.getThisListItems(list.listname)"><i class="material-icons">arrow_drop_down</i></button>
      
    </span>
    <a href="#" class="card-header-icon" aria-label="more options"></a>
  </header>
  <div class="card-content">
    <ul class="content" ng-repeat="item in uc.listItems" ng-if='list.list_id==item.list_id'>
      <li> {{item.itemname}} </li>
    </ul>
  </div>
     <div class="card-footer-item is-left" ng-click="uc.saveThisList()">Save List</div>
</div>
  </div> <!--end columns -->
</div> <!--end block -->