<div ng-include="'views/partials/nav.html'" ng-init=uc.getAllLists()></div>

  <h1 id="welcome" class="title">Find Your Adventure</h1>
<hr />
  <!-- Get all lists        -->
  <div class="block" id="getAllLists">
      <div class="columns">
    <div class="listBox column" ng-repeat="list in uc.allListsToDisplay">
      <!-- ng-click in div above with function(list) -->
      <!-- that function will go to controller to service, POST to user items table -->
      <b>{{list.name}}</b>
      <i class="material-icons" size="40">arrow_drop_down</i>
      <div ng-repeat="items in list.item">
        {{items}}
        <!-- <button class="addListButton" ng-click="uc.addThisList()">  -->
      </div>
    </div>
    </div> <!--main columns with s end-->
  </div> <!--main div block end-->

